@page "/"
@page "/index"
@inherits IndexController
<div class="h-content-filter">
    <div class="row">
        <div class="col-12 position-relative text-center">
                        <img src="../assets/SM.png" width="110" height="32" alt="HSystem" style="width: 60px; height: 60px" class="position-absolute navbar-brand-image">
                        <p class="h2 mb-1">Công Ty TNHH Sản Xuất Cơ Khí Việt Thành</p>
                        <p class="h3 mb-1">Bộ Phận Bán Hàng</p>
                    </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="d-flex mt-1">
                <HLabel Value="Từ ngày/Đến ngày:" Style="width: 130px`" />
                <div style="width: calc(100% - 130px)">
                    <div class="d-flex justify-content-between">
                        <div style="width: 50%;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.FromDate"
                                                Placeholder=""
                                                Format="dd/MM/yyyy hh:mm:ss"
                                                Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                        <div style="width: 50%; margin-left: 2px;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.ToDate"
                                                Placeholder=""
                                                Format="dd/MM/yyyy hh:mm:ss"
                                                Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
     <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@(async () => await GridRef.SaveAsExcelFileAsync())">Xuất excel</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 170px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>

    <TelerikGrid Data="@ListIndex"
                 @ref="@GridRef"   
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(ReportModel.UserName) Aggregate="@GridAggregateType.Count" />
        </GridAggregates>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
           <GridColumn Field=@nameof(ReportModel.UserName) Width="150px" MaxResizableWidth="150" Title="Tên tài khoản">
                <Template>
                    @{
                        var model = (context as ReportModel);
                        <span class="h-link" @onclick="@(() => OnNavHandler(model))" title="Xem chi tiết">@model!.UserName</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.FullName) Width="270px" Title="Họ tên nhân viên"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.DepartmentName) Width="270px" Title="Tên bộ phận"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.QtyCusPurchased) Width="170px" Title="Số lượng khách hàng đã mua" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"/>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.QtyCusContact) Width="170px" Title="Số lượng khách hàng liên hệ" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"/>
        </GridColumns>
    </TelerikGrid>
</div>




