@page "/customer"
@inherits CustomerController

<div class="h-content-filter">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="d-flex mt-1">
                <HLabel Value="Từ ngày/Đến ngày:" Style="width: 130px" />
                <div style="width: calc(100% - 130px)">
                    <div class="d-flex justify-content-between">
                        <div style="width: 50%;">
                            <TelerikDatePicker @bind-Value="@ItemSearch.FromDate"
                                               Placeholder=""
                                               Format="dd/MM/yyyy"
                                               Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                        <div style="width: 50%; margin-left: 2px;">
                            <TelerikDatePicker @bind-Value="@ItemSearch.ToDate"
                                               Placeholder=""
                                               Format="dd/MM/yyyy"
                                               Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/add-new-icon.png" OnClick="@(()=> OnOpenDialogHandler())">Thêm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/remove_grid.png" OnClick="@DeleteDataHandler">Xóa dòng</ToolBarButton>
     <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@(async () => await GridRef.SaveAsExcelFileAsync())">Xuất excel</ToolBarButton>
</TelerikToolBar>
<HConfirm @ref="@_rDialogs" />
<div class="h-table-content" style=" height: calc(100vh - 210px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>
    <TelerikGrid Data="@ListCustomers"
                 @ref="@GridRef"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterRow"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 OnRowDoubleClick="@OnRowDoubleClickHandler"
                 @bind-SelectedItems="@SelectedCustomers">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(CustomerModel.CusNo) Aggregate="@GridAggregateType.Count" />
        </GridAggregates>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true" MaxResizableWidth="30"></GridCheckboxColumn>
            <GridColumn Field=@nameof(CustomerModel.CusNo) Width="150px" MaxResizableWidth="150" Title="Mã khách hàng" ShowFilterCellButtons="false">
                <Template>
                    @{
                        var model = (context as CustomerModel);
                        <span class="h-link">@model!.CusNo</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(CustomerModel.FullName) Width="210px" Title="Tên khách hàng" ShowFilterCellButtons="false" DefaultFilterOperator="@FilterOperator.Contains"/>
            <GridColumn Field=@nameof(CustomerModel.PhoneNumber) Width="130px" Title="Số điện thoại" Filterable="false" DefaultFilterOperator="@FilterOperator.Contains"/>
            <GridColumn Field=@nameof(CustomerModel.Address) Width="170px" Title="Địa chỉ" ShowFilterCellButtons="false" DefaultFilterOperator="@FilterOperator.Contains"/>
            <GridColumn Field=@nameof(CustomerModel.Email) Width="140px" Title="Email" ShowFilterCellButtons="false" DefaultFilterOperator="@FilterOperator.Contains"/>
            <GridColumn Field=@nameof(CustomerModel.DateOfBirth) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE" Width="140px" Title="Ngày sinh" Filterable="false" />
            <GridColumn Field=@nameof(CustomerModel.NoteForAll) Width="240px" Title="Ghi chú" ShowFilterCellButtons="false" DefaultFilterOperator="@FilterOperator.Contains"/>
            <GridColumn Field=@nameof(CustomerModel.UserNameCreate) Width="140px" Title="Người tạo" ShowFilterCellButtons="false" DefaultFilterOperator="@FilterOperator.Contains"/>
            <GridColumn Field=@nameof(CustomerModel.DateCreate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE" Width="140px" Title="Ngày tạo" Filterable="false" />
            @*<GridColumn Field=@nameof(CustomerModel.UserNameUpdate) Width="140px" Title="Người cập nhật" ShowFilterCellButtons="false" DefaultFilterOperator="@FilterOperator.Contains" />
            <GridColumn Field=@nameof(CustomerModel.DateUpdate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE" Width="140px" Title="Ngày tạo" Filterable="false" />*@
        </GridColumns>
    </TelerikGrid>
</div>

<HDialog @bind-IsVisible="@IsShowDialog"
         Width="70%"
         SaveAndClosed="@(()=> SaveDataHandler())"
         Title="@(IsCreate ? "Thêm mới khách hàng" : $"Cập nhật khách hàng {CustomerUpdate!.CusNo}")">
    <EditForm EditContext="@_EditContext">
        <DataAnnotationsValidator />
        <div>
            <HLabel Value="Mã khách hàng:" />
            <TelerikTextBox @bind-Value="@CustomerUpdate!.CusNo" Class="h-link" Enabled="false" />
        </div>
        <div class="mt-2">
            <div class="row row-gap-2">
                <div class="col-md-6 col-sm-12">
                    <HLabel For="txtFullName" Value="Tên khách hàng:" IsRequired="true" />
                    <TelerikTextBox @bind-Value="@CustomerUpdate.FullName" Id="txtFullName" />
                    <HValidationTooltip ValidationFor="@(()=> CustomerUpdate.FullName)" Id="txtFullName" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <HLabel For="txtUserName" Value="Ngày sinh:" />
                    <TelerikDatePicker @bind-Value="@CustomerUpdate.DateOfBirth"
                                       Placeholder=""
                                       Format="dd/MM/yyyy"
                                       Class="btn-noborder-radius-left">
                    </TelerikDatePicker>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <HLabel For="txtPhoneNumber" Value="Số điện thoại:" IsRequired="true" />
            <TelerikTextBox @bind-Value="@CustomerUpdate.PhoneNumber" Id="txtPhoneNumber" />
            <HValidationTooltip ValidationFor="@(()=> CustomerUpdate.PhoneNumber)" Id="txtPhoneNumber" />
        </div>
        <div class="mt-2">
            <HLabel For="txtAddress" Value="Địa chỉ:" />
            <TelerikTextBox @bind-Value="@CustomerUpdate.Address" Id="txtAddress" />
        </div>
        <div class="mt-2">
            <HLabel For="txtEmail" Value="Email:" />
            <TelerikTextBox @bind-Value="@CustomerUpdate.Email" Id="txtEmail" />
        </div>
        <div class="mt-2">
            <HLabel For="txtNoteForAll" Value="Ghi chú:" />
            <TelerikTextBox @bind-Value="@CustomerUpdate.NoteForAll" Id="txtNoteForAll" />
        </div>

    </EditForm>
</HDialog>